<section class="wrapper">
    <div class="container">
        {{#each steamData.friends.friendslist.friends}}
            <div class="friend-card" data-steamId="{{steamid}}">
                <img src="{{avatarfull}}" alt="{{personaname}} avatar" />
                <div class="friend-info">
                    <h3 class="friend-name">{{personaname}}</h3>
                    <p class="friend-status {{statusText}}">{{statusText}}</p>
                    {{#if gameextrainfo}}
                        <p class="friend-game">Playing:
                            {{gameextrainfo}}</p>
                    {{/if}}
                </div>
            </div>
        {{else}}
            <div class="no-friends-message">
                <p>No friends found.</p>
            </div>
        {{/each}}
    </div>
</section>